/*------------------------------------*\
#VARIABLES
\*------------------------------------*/
:root {
    /* colors */
    --global-color-blue: #44C8F5;
    --global-color-black: black;
    --global-color-white: white;

    --global-color-redteam: #FBC6C6;
    --global-color-blueteam: #C5EEFC;

    --global-color-text: #463C80;
    --global-color-buttontext: var(--global-color-white);
    --global-border-color: white;
    --global-color-textinput: #C9C3C3;

    --global-background-color-slider: #D8F4FD;

    /* font-size */
    --global-font-size-grid-item: 1.5rem;
    --global-font-size-1rem: 1rem;
    --global-font-size-info: 0.625rem;

    /* margin */
    --global-margin: 0 0 1.5rem;
}

/*------------------------------------*\
#FONTS
\*------------------------------------*/

/* normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

/* medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.ttf");
}

/* semibold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.ttf") format('truetype');
}

/* bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.ttf") format('truetype');
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/
/*
Generic: Page
---
    Global page styles + universal box-sizing:
    */
    html {
        font-size: var(--global-font-size-1rem);
        line-height: 1.5;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--global-color-white);
        color: var(--global-color-text);
}

body{
    margin: 0;
    overflow: hidden;
}

video{
    width: 100%;
    height: 620px;
    object-fit: fill;
    position: absolute;
    z-index: -10;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-moz-selection {
    background: var(--global-color-black);
    color: var(--global-color-white);
    text-shadow: none;
}

::selection {
    background: var(--color-dark-button);
    color: var(--global-color-white);
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/
/*
Elements: Images
---
Default markup for images to make them responsive
*/
img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/
h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 3.4375rem;
    color: var(--global-color-text);
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: var(--global-margin);
}

h3 {
    font-size: 1.625rem;
    line-height: 2rem;
    margin: var(--global-margin);
}

h4,
h5,
h6 {
    font-size: var(--global-font-size-1rem);
    font-weight: 600;
    line-height: 1.5rem;
    margin: var(--global-margin);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: var(--global-margin);
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.4375rem;
    line-height: 2rem;
    margin: var(--global-margin);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
}

hr {
    border: 0;
    height: 0.0625rem;
    background: LightGrey;
    margin: var(--global-margin);
}

a {
    color: var(--global-color-black);
    outline-color: var(--global-color-black);
    outline-width: medium;
    outline-offset: 0.125rem;
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--global-color-black);
    text-decoration: none;
}

a:visited,
a:active {
    color: var(--global-color-black);
    text-decoration: none;
}

label,
input {
    display: block;
}

input::placeholder {
    color: gray;
}

button{
    font-weight: 300;
    font: inherit;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/
.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */
.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--start {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.o-row--instellingen {
    display: flex;
    align-items: center;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em;
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/
/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/
.o-layout {
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/**************************************************************************************************
    Object: Hide accessible
    ---
    Accessibly hide any element
***************************************************************************************************/
.o-hide-accessible {
    position: absolute;
    width: .0625rem;
    height: .0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    Header met logo en huidige tijd
*/
.c-header--sm{
    height: 52px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 30px;
}

.c-header--md{
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.c-svg{
    text-align: left;
    padding-left: 3%;
    padding-top: 0.5%;
}

.c-time{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 32px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 71px;
    height: 71px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-color-white);
    border-radius: 100%;
    background-color: #D33B6C;
    color: white;
}

/*
    fish
*/
.c-violetfish{
    position: fixed;
    left: 114px;
    top: 132px;
}

.c-greenfish{
    position: fixed;
    right: 45px;
    top: 190px;
}

/*
Scoreboard.html
*/
.c-tekst__score{
    margin-bottom: 80px;
}

.c-scoreboard {
    color: #504490;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}

.c-proficiat {
    color: #463C80;
    font-size: 56px;
    font-weight: 600;
    display: block;
    text-align: center;
}

.c-points{
    color: #504490;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

/*
    Body
*/
.c-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}

.c-welcome-title{
    color: var(--global-color-text);
    font-size: 80px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.c-choice-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    margin-bottom: 27px;
    margin-top: 40px;

}

/*
    Tijdens het spel
*/

.c-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c-game-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    margin-bottom: 30px;
}

.c-during-game{
    display: flex;
}

.c-teamcard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 428px;
    margin: 0 32px;
    background-color: rgba(134, 230, 242, .8);
    height: 452px;
    border-radius: 8px;
}

.c-teamname{
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 41px;
    margin-top: 40px;
    color: #392D78;
}

/* https://programmersportal.com/how-to-overlap-images-using-css/ */
.c-current-score{
    position: relative;
    font-size: 41px;
    z-index: 4;
    color: white;
    width: 300px;
    height: 300px;
}

/*
    red chest
*/
.c-svg__redscore{
    position: absolute;
    margin-top: -30px;
    z-index: 2;
    left: 133px;
    top: 45px;
}

.c-svg__redchest{
    position: absolute;
    width: 155px;
    z-index: 1;
    left: 40px;
    top: -2px;
}

/*
    blue chest
*/
.c-svg__bluescore{
    position: absolute;
    margin-top: -30px;
    z-index: 2;
    left: 133px;
    top: 48px;
}

.c-svg__bluechest{
    position: absolute;
    width: 155px;
    z-index: 1;
    left: 97px;
}

/*
    cards in alle pagina's
*/
.c-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.c-game{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    width: 273px;
    height: 35px;
    text-align: center;
    position: absolute;
    background-color:  rgba(134, 230, 242, .8); 
}

.c-chosengame{
    display: flex;
    justify-content: center;
}

.c-contentcard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(134, 230, 242, .8);
    border-radius: 8px;
    margin: 0 32px;
    width: 964px;
    height: 430px;
}

.c-content{
    position: absolute;
    top: 142px;
    left: 132px;;
}

.c-layout{
    display: flex;
    width: 760px;
    height: 402px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-top: 24px;
}

.c-leaderboard__text{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 0;
    color: #3B2E86;
}

.c-best-scores{
    color: #3B2E86;
    font-weight: 400;
}

.c-date{
    color: #3B2E86;
    font-weight: 600;
}

.c-underline{
    margin: auto;
    width: 271px;
    height: 2px;
    background-color: #7F2FDD;
}

/*
    spelnaam in leaderboardkeuze.html
*/
.c-leaderboard__games{
    display: flex;
    justify-content: center;
}

.c-gamename{
    border-radius: 8px 8px 0 0;
    width: 139px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(134, 230, 242, .8);
    color: #1A1151;
}

.c-gamename__option--zen{
    border-radius: 8px 0 0 0;
    width: 139px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 179, 188, 0.8);
    color: #1A1151;
}

.c-gamename__option--rb{
    width: 139px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 179, 188, 0.8);
    color: #1A1151;
}

.c-gamename__option--ss{
    border-radius: 0 8px 0 0;
    width: 139px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(107, 179, 188, 0.8);
    color: #1A1151;
}

.c-gamename__option--zen input[type="radio"]:checked + label{
    border-radius: 8px 8px 0 0;
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: rgba(134, 230, 242, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-gamename__option--rb input[type="radio"]:checked + label{
    border-radius: 8px 8px 0 0;
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: rgba(134, 230, 242, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-gamename__option--ss input[type="radio"]:checked + label{
    border-radius: 8px 8px 0 0;
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: rgba(134, 230, 242, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
    Game card in game_choice.html
*/
.c-card{
    border: var(--global-border-color) solid 1px;
    border-radius: 68px;
    height: 357px;
    width: 688px;
    margin-bottom: 32px;
    padding-top: 30px;
    box-shadow: 0 10px 15px rgba(8, 118, 155, .16);
}

.c-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}

.c-card__body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: 27px;
    padding-left: 43px;
}

/*
    beschrijving van het spel => game_choice.html
*/
.c-beschrijving{
    background-color: var(--global-color-white);
}

.c-beschrijving__title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px;
}

.c-beschrijving__tekst{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*
    aantal spelers die het spel kunnen spelen => game_choice.html
*/
.c-player{
    background-color: var(--global-color-white);
}

.c-player__title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 11px;
}

.c-player__tekst{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*
    leaderboard => game_choice.html
*/
.c-leaderboard{
    display: flex;
    margin-top: 8px;
}

.c-leaderboard__logo{
    margin-right: 12px;
}

.c-leaderboard__title{
    font-size: 18px;
    font-weight: 500;
}

/*
    switchen tussen verschillende games buttons => game_choice.html
*/
.c-buttonleft {
    width: 60px;
    height: 59px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7F2FDD;
    position: fixed;
    top: 343px;
    left: 40px;
}

.c-buttonright {
    width: 60px;
    height: 59px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7F2FDD;
    position: fixed;
    top: 343px;
    left: 924px;
}

/*
    buttons in alle andere html files
*/
.c-button{
    width: 43.75%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-border-color);
    border-width: 2px;
    border-radius: 61px;
    color: var(--global-color-buttontext);
    font-weight: 600;
    text-align: center;
    margin: auto;
    background-color: #7F2FDD;
    box-shadow: inset -20px 0px 6px rgba(0, 0, 0, 16%);
}

/*
    button om spel te starten in instellingen.html
*/
.c-button__instellingen {
    width: 433px;
    height: 56px;
    position: absolute;
    left: 15px;
    top: 320px;
}

.c-button__start{
    font-size: 36px;
    margin-top: 50px;
}

.c-button__index {
    margin-top: 250px;
}

.c-button__leaderboard{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    width: 189px;
    height: 33px;
}

.c-button__leaderboard-content{
    margin-left: 30px;
}

.c-button__replay{
    margin-top: -20px;
    margin-left: 4px;
}

/*
    Devider in instellingen.html
*/
.c-line{
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 0px;
    width: 220px;
}

/*
    na gespeelde spel => ander spel starten
*/
.c-newgame{
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-text__replay{
    margin-top: 3px;
    margin-left: 5px;
}

/*
    grid in leaderboard
*/
.c-grid__container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.625rem;
    font-size: 23px;
    font-weight: 500;
    color: #261E53;
}

.c-grid__item{
    padding: max(0.625rem, 0.625rem);
    font-size: 21px;
    text-align: center;
    max-width: 21.875rem;
}

/*
    onze logo
*/
.c-svg__logo{
    width: 159px;
    height: 164px;
    display: block;
    margin: auto;
}

/*
    + icon
*/
.c-svg__newgame{
    margin-top: 2px;
}

/*
    -> icon
*/
.c-svg__replaygame{
    margin-top: 6px;
    margin-left: 6px;
}

/*
    game description => instellingen.html
*/
.c-game__description{
    width: 207px;
    height: 400px;
    color: #4D4D4D;
    position: absolute;
    top: 190px;
    left: 95px;

}

.c-game__description-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 16px;
}

.c-game__description-tussentitel {
    font-size: 18px;
    font-weight: 600;
    margin-left: 16px;
}

.c-game__description-text {
    width: 207px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-left: 16px;
}

/*
    instellingen => instellingen.html
*/
.c-difficulty{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 18px;
    color: var(--global-color-text);
    font-weight: 400;
    display: flex;
    justify-items: center;
    gap: 8px;
}

.c-toggleswitch__difficulty{
    position: relative;
    display: inline-block;
    width: 224px;
    height: 28px;
}

.c-toggleswitch__difficulty input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-border-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--global-background-color-slider);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 112px;
    background-color: var(--global-color-white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--global-background-color-slider);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--global-background-color-slider);
}

input:checked+.slider:before {
    -webkit-transform: translateX(113px);
    -ms-transform: translateX(113px);
    transform: translateX(113px);
}

/* Rounded sliders */
.slider.round {
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-border-color);
    border-radius: 6px;
}

.slider.round:before {
    border-width: 1px;
    border-style: solid;
    border-color: var(--global-border-color);
    border-radius: 6px;
}

/*
    moeilijkheidsgraad tekst => instellingen.html
*/
.c-text__slow{
    position: absolute;
    top: 1px;
    left: 30px;
}

.c-text__fast {
    position: absolute;
    top: 2px;
    left: 150px;
}

/*
    icon tijdsduur en gekozen tijd => instellingen.html
*/
.c-svg__tijdsduur{
    display: block;
    margin: auto;
}

.c-tijdsduur__text{
    margin: 0;
}

/*
    slider input => instellingen.html
*/
.c-slider__input{
    display: flex;
    align-items: center;
    position: absolute;
    top: 130px;
    left: 15px;
    font-size: 18px;
    color: var(--global-color-text);
    font-weight: 400;
    display: flex;
    justify-items: center;
    gap: 8px;
}


.c-slider{
    position: relative;
    display: inline-block;
    width: 224px;
    height: 28px;
    background-color: var(--global-background-color-slider);
    transition: .4s;
}

/*
    namen van de 2 teams => instellingen.html
*/
.c-teamrood{
    color: var(--global-color-text);
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 220px;
}

.c-teamblauw {
    color: var(--global-color-text);
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 310px;
}

.c-textinput{
    border: none;
    border-bottom: 1px solid #434988;
    width: 330px;
    display: flex;
    justify-items: center;
    position: absolute;
    top: 2px;
    left: 80px;
    background-color: transparent;
}

/*
    logo teamproject
*/
.c-logo{
    font-size: 18px;
    line-height: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: auto;
    color: var(--global-color-text);
    margin-top: 24px;
    margin-left: 48px;
}

.c-back{
    display: flex;
    align-items: center;
    color: #1A1151;
    font-size: 18px;
    font-weight: 600;
}

/*
    button start
*/
.c-pauze{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7F2FDD;
    width: 182px;
    height: 34px;
    
    border: var(--global-color-white) solid 2px;
    border-radius: 61px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 32px;
}

.c-pauze__img{
    width: 30px;
    height: 32px;
    margin-left: 5px;
}

/*
button stop
*/
.c-stop{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #7F2FDD;
    width: 182px;
    height: 34px;
    
    border: var(--global-color-white) solid 2px;
    border-radius: 61px;
    font-size: 14px;
    font-weight: 400;
}

.c-stop__img{
    width: 20px;
    height: 22px;
    margin-right: 6px;
    margin-left: 12px;
}

/*
Scores
*/
.c-button__score {
    display: flex;
    align-items: flex-start;
    font-size: 32px;
    margin-top: 10px;
}

.c-button__leaderboard-logo{
    width: 40px;
    height: 32px;
    margin-top: 8px;
    margin-left: 2px;
}

.c-button__score-content{
    margin-left: 90px;
}

.c-svg__leaderboard{
    width: 40px;
    height: 32px;
    margin-top: 8px;
    margin-left: 2px;
}

/*
    countdown
*/
.getal{
    text-align: center;
    font-size: 10rem;
    margin-top: 5.625rem;
    color: var(--global-color-text);
}

.c-vis1{
    position: fixed;
    top: 200px;
    left: 150px;
}

.c-vis2{
    position: fixed;
    top: 180px;
    left: 840px;
}

.c-zeester{
    position: fixed;
    top: 510px;
    left: 280px;
}

.c-map{
    position: absolute;
    top: 130px;
    left: 120px;
}

.c-map2{
    position: absolute;
    top: 100px;
    left: 69px;
}

.c-title{
    color: #3B2E86;
    font-size: 56px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 48px;
    left: 340px;
}

.c-keuze {
    position: fixed;
    top: 300px;
    left: 290px;
    color: #3F3F3F;
}

.c-gametitle {
    font-size: 28px;
    font-weight: 600;
}

.c-underline__gamename{
    width: 110px;
    background: #8F84BC;
    margin: 0;
}

.c-gametussentitel {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 700;
}

.c-gametekst {
    font-size: 14px;
    font-weight: 400;
}

.c-leaderboard__button {
    position: fixed;
    top: 300px;
    left: 644px;
    font-size: 15px;
    font-weight: 300;
    color: #3F3F3F;
}

.c-leaderboard-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-leaderboard-icon__svg{
    margin-right: 6px;
}

.c-svg__arrow {
    display: flex;
    align-items: center;
}

.c-settings__background {
    width: 494px;
    height: 463px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(134, 230, 242, 0.8);
    background-color: rgb(134, 230, 242, 0.8);
    position: absolute;
    top: 140px;
    left: 445px;
}

.c-vis3 {
    position: absolute;
    top: 86px;
    left: 54px;
}

.c-countdown {
    position: absolute;
    width: 703px;
    height: 463px;
    background-color: rgb(134, 230, 242, 0.8);
    border-radius: 8px;
    top: 144px;
    left: 161px;
}

.c-countdown__title {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 56px;
    font-weight: 600;
    color: #45397B;
    margin-top: 45px;
}

.c-countdown__timer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 160px;
    font-weight: 400;
    color: #45397B;
    margin-top: 45px;
}

.c-vis4 {
    width: 92px;
    height: 71px;
    position: absolute;
    top: 503px;
    left: 165px;
}

.c-vis5 {
    width: 100px;
    height: 58px;
    position: absolute;
    top: 71px;
    left: 893px;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: .875rem;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}


/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: var(--global-color-black) !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: .0625rem solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}